body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    line-height: 1.6;
}
.header {
    display: flex;
}

.header::after {
    content: "";
    display: table;
    clear: both;
}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: inline-block; 
    text-align: left; 
}


.presentation {
    width: 30%;
    margin: 50px auto;
    text-align: justify;
}

.profile-photo {
    float: right;
    border-radius: 50%; 
    border: 3px solid #fff;
    width: 100px; 
    height: 100px;
}

.skills {
    text-align: center;
    width:  50%;
}


.project img {
    width: 100%;
    height: auto;
}

a {
    color: #17a2b8;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    padding: 0; 
    margin: 0;
}
